allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file rw_file_perms;

# Timekeep
allow system_app timekeep_prop:property_service set;
